<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="providerName" value="Sinoptic"/>
    <add key="loggerOutput" value="Console"/>
    <add key="loggerRecordFile" value="C:\Users\Stepan\logfile.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>