<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="providerName" value="Sinoptic"/>
    <add key="loggerType" value="Composite"/>
    <add key="CompositeLoggers" value="FileLogger,ConsoleLogger,DebugOutputLogger"/>
    <add key="loggerFileName" value="log.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>